@import "../../variables.scss";

.SearchMain {
  input {
    font-size: 1.2em;
    padding: 5px;
    color: $black;
    border: 2px solid $input-border-color;
  }

  button {
    font-size: 1.2em;
    width: 160px;
    padding: 5px;

    &:hover {
      background-color: $btn-hover-color;
    }
  }

  h2 {
    text-transform: uppercase;
    color: $white;
    font-size: 1.8em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.2em;
    color: $white;
    padding: 30px 0 15px;
  }

  a {
    font-size: 1.1em;
    color: $change-loc-link;
    margin-bottom: 20px;

    &:hover {
      color: $btn-hover-color;
      cursor: pointer;
    }
  }

  .change-loc-btn {
    width: 260px;
  }

  .change-loc-cont {
    position: absolute;
    right: 20px;
    top: 100px;
  }

  .input-search {
    width: 358px;
  }

  .input-location {
    width: 150px;
    text-transform: capitalize;
  }
}



// .search-main-form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }