@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.SearchMain input {
  font-size: 1.2em;
  padding: 5px;
  color: #383838;
  border: 2px solid #ECF0F1; }

.SearchMain button {
  font-size: 1em;
  padding: 5px;
  width: 120px; }

.SearchMain .input-search {
  width: 358px; }

.SearchMain .input-location {
  width: 150px;
  text-transform: capitalize; }
