@import "../../variables.scss";

.Events {
  margin: 0 auto;
  max-width: 1760px;

  button {
    &:hover {
      background-color: $light-turq;
    }
  } 
}

.events-cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 15px;
  justify-items: center;
}

.time-btn {
  border: none;
  font-size: 1.2em;
  font-weight: 400;
  background-color: $main-bg;
  width: 160px;
  color: $turq;

  &:hover {
    cursor: pointer;
  }
}

.nav-time-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 0 25px;
}

@media screen and (max-width: 1530px) {
  .Events {
    max-width: 1190px;
  }

  .events-cont {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1225px) {
  .Events {
    max-width: 900px;
  }

  .events-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 915px) {
  .Events {
    max-width: 670px;
  }

  .events-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}


