@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.events-cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px; }

.time-btn {
  border: none;
  color: #4ECDC4;
  font-size: 1em;
  background-color: #ECF0F1; }
  .time-btn:hover {
    color: #383838; }

.nav-time-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 0 18px; }
