@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.Events {
  margin: 0 auto;
  max-width: 1760px; }
  .Events button:hover {
    background-color: #BEECE9; }

.events-cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 15px;
  justify-items: center; }

.time-btn {
  border: none;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #ECF0F1;
  width: 160px; }
  .time-btn:hover {
    cursor: pointer; }

.nav-time-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 0 25px; }
