@import "../../variables.scss";

.SearchWel {
  background-color: $white;
  border: 2px solid $gray;
  padding: 50px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -320px;

  h2 {
    font-size: 1.8em;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  h3, 
  p {
    color: $gray;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    padding-bottom: 30px;
  }

  button {
    font-size: 1.2em;
    padding: 5px 25px;
    
    &:hover {
      background-color: $btn-hover-color;
    }
  }
}

.input-wel {
  font-size: 1.2em;
  width: 370px;
  height: 42px;
  padding: 5px;
}

.current-btn {
  margin: 20px 0 30px;
}

.btn-wel-search {
  height: 42px;

  &:hover {
    cursor: pointer;
  }
}

