@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.SearchWel {
  background-color: #FBFCFC;
  border: 2px solid #979797;
  padding: 50px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -320px; }
  .SearchWel h2 {
    font-size: 1.8em;
    padding-bottom: 20px;
    text-transform: uppercase; }
  .SearchWel h3,
  .SearchWel p {
    color: #979797; }
  .SearchWel h3 {
    font-size: 1.3em; }
  .SearchWel p {
    padding-bottom: 30px; }
  .SearchWel button {
    font-size: 1.2em;
    padding: 5px 25px;
    background-color: #BEECE9; }
    .SearchWel button:hover {
      cursor: pointer;
      background-color: #F8BFCD; }

.input-wel {
  font-size: 1.2em;
  width: 370px;
  height: 42px;
  padding: 5px; }

.current-btn {
  margin: 20px 0 30px; }

.btn-wel-search {
  height: 42px; }
  .btn-wel-search:hover {
    cursor: pointer; }
