@import "../../variables.scss";

.NavCategories {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.a-category {
  button {
    font-size: 1.2em;
    font-weight: 400;
    width: 160px;
    padding: 5px;
    background-color: $white;
  }
}

.a-category.active {
  button {
    color: $black;
    background-color: $nav-category-active-bg;
    font-weight: 400;
  }
}