@import "../../variables.scss";

body, 
html {
  height: 100%;
}

input, 
button {
  font-family: $main-font;
  font-weight: 300;
}

a {
  text-decoration: none;
}

button {
  border: 2px solid $search-btn-border-color;
  color: $btn-font-color;

  &:hover {
    background-color: $btn-hover-color;
    cursor: pointer;
    color: $btn-hover-font-color;
  }
}

.App {
  color: $default-font-color;
  font-family: $main-font;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  height: 100%;
}


