@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One");
.Welcome {
  height: 100%; }
  .Welcome .SearchWel {
    position: absolute;
    top: 50%;
    left: 50%; }

.bg-img {
  background-image: url("../../assets/city-bg-3.jpg");
  background-size: cover; }

.half-page {
  height: 50%;
  background-color: #ECF0F1; }
