@import "../../variables.scss";

.Welcome {
  height: 100%;
  postion: relative;
}

.bg-img {
  background-image: url('../../assets/city-bg.jpg');
  background-size: cover;
}

.half-page {
  height: 50%;
  background-color: $main-bg; 
}