@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.Welcome {
  height: 100%;
  postion: relative;
  background-image: url("../../assets/city-bg-welcome.jpg");
  background-size: cover; }
