@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.Main {
  background-color: #ECF0F1; }
  .Main h3 {
    font-size: 1.5em;
    padding: 25px;
    text-transform: uppercase; }
