@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.Main {
  background-color: #ECF0F1;
  padding: 0 30px; }
  .Main h3 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 35px;
    text-transform: uppercase; }
