@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.Header {
  display: flex;
  flex-direction: row;
  font-family: "Poiret One", cursive;
  justify-content: space-between;
  border-bottom: 10px solid #4ECDC4; }
  .Header h1 {
    font-size: 2.5em;
    padding: 15px 15px 10px; }
  .Header a {
    text-decoration: none;
    color: #383838;
    font-size: 1.5em; }
    .Header a:hover {
      border-bottom: 3px solid #BEECE9; }

.header-link-cont {
  display: flex; }

.header-link-box {
  border-left: 1px solid #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%; }

@media screen and (max-width: 600px) {
  .Header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    background-color: #FBFCFC; }
  .header-link-box {
    border: 1px solid #383838;
    padding: 10px; } }
