@import "../../variables.scss";

.EventCard {
  border: 1px solid turquoise;
}

.img-event {
  height: 128px;
  width: 128px;
  background-color: pink;
}

.img-box {
  background-color: $light-turq;
  height: 230px;
  width: 230px;
}