@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.EventCard {
  max-width: 280px;
  min-height: 450px;
  background-color: #FBFCFC;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px #979797; }
  .EventCard h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 5px; }
  .EventCard a {
    text-decoration: none;
    border: 1px solid #C6C6C6;
    padding: 5px 8px;
    color: #7848b5;
    border-radius: 10px;
    background-color: #FBFCFC; }
    .EventCard a:hover {
      background-color: #BEECE9;
      color: white; }
  .EventCard p {
    color: #979797; }

.btn-cont {
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin: 0 auto; }

.btn-fav {
  font-size: 1.3em;
  border: 1px solid #C6C6C6;
  color: #7848b5;
  border-radius: 10px;
  background-color: #FBFCFC; }
  .btn-fav:hover {
    background-color: #BEECE9; }

.favorited button {
  background-color: #F8BFCD; }

.img-event {
  height: 280px;
  width: 280px; }

.img-box {
  background-color: #BEECE9;
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #4ECDC4; }

.event-info {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.event {
  background: center/contain no-repeat url("../../assets/event.jpg"); }

.food {
  background: center/contain no-repeat url("../../assets/food2.jpg"); }

.food1 {
  background: center/contain no-repeat url("../../assets/food1.jpg"); }

.food2 {
  background: center/contain no-repeat url("../../assets/food2.jpg"); }

.food3 {
  background: center/contain no-repeat url("../../assets/food3.jpg"); }

.music {
  background: center/contain no-repeat url("../../assets/music1.jpg"); }

.music1 {
  background: center/contain no-repeat url("../../assets/music1.jpg"); }

.music2 {
  background: center/contain no-repeat url("../../assets/music2.jpg"); }

.music3 {
  background: center/contain no-repeat url("../../assets/music3.jpg"); }

.culture {
  background: center/contain no-repeat url("../../assets/culture1.jpg"); }

.culture1 {
  background: center/contain no-repeat url("../../assets/culture1.jpg"); }

.culture2 {
  background: center/contain no-repeat url("../../assets/culture2.jpg"); }

.culture3 {
  background: center/contain no-repeat url("../../assets/culture3.jpg"); }

.nightlife {
  background: center/contain no-repeat url("../../assets/nightlife1.jpg"); }

.nightlife1 {
  background: center/contain no-repeat url("../../assets/nightlife1.jpg"); }

.nightlife2 {
  background: center/contain no-repeat url("../../assets/nightlife2.jpg"); }

.nightlife3 {
  background: center/contain no-repeat url("../../assets/nightlife3.jpg"); }

.search1,
.search2,
.search3 {
  background: center/contain no-repeat url("../../assets/event.jpg"); }
