@import "../../variables.scss";

.EventCard {
  max-width: 280px;
  min-height: 450px;
  background-color: $white;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px $card-shadow;

  h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 5px;
  }

  a {
    text-decoration: none;
    border: 1px solid $card-btn-border;
    padding: 5px 8px;
    color: $card-button-font-color;
    border-radius: 10px;

    &:hover {
      background-color: $light-turq;
    }
  }
}

.btn-cont {
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin: 0 auto;
}

.btn-fav {
  font-size: 1.3em;
  border: 1px solid $card-btn-border;
  color: $card-button-font-color;
  border-radius: 10px;

  &:hover {
    background-color: $light-turq;
  }
}

.favorited {
  button {
    background-color: $favorited-card-bg;
  }
}

.img-event {
  height: 200px;
  width: 200px;
}

.img-box {
  background-color: $light-turq;
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid $turq;
}

.event-info {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event {
  background: center / contain no-repeat url('../../assets/event.jpg');
}

.food {
  background: center / contain no-repeat url('../../assets/food.jpg');
}

.music {
  background: center / contain no-repeat url('../../assets/music.jpg');
}

.culture {
  background: center / contain no-repeat url('../../assets/culture.jpg');
}

.nightlife {
  background: center / contain no-repeat url('../../assets/nightlife.jpg');
}

.search {
  background: center / contain no-repeat url('../../assets/event.jpg')
}