@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Poiret+One");
.EventCard {
  border: 1px solid turquoise; }

.img-event {
  height: 128px;
  width: 128px;
  background-color: pink; }

.img-box {
  background-color: #BEECE9;
  height: 230px;
  width: 230px; }
