@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One');

// background colors
$main-bg: #ECF0F1;
$search-welcome-btn-bg: #BEECE9;
$btn-bg-color: #BEECE9;
$btn-hover-color: #7848b5;
$search-welcome-btn-hover-bg: #7848b5;
$nav-category-active-bg: #BEECE9;
$nav-category-hover-bg: #7848b5;
$favorited-card-bg: #F8BFCD;

// drop shadow colors
$card-shadow: #979797;

// border colors
$nav-border-color: #979797;
$search-btn-border-color: #4ECDC4;
$input-border-color: #ECF0F1;
$card-border-color: #979797;
$card-btn-border: #C6C6C6;    

// font colors
$default-font-color: #383838;
$btn-font-color: #383838;
$headerlink-hover-color: #BEECE9;
$nav-font-btn-color: #4ECDC4; 
$nav-font-active-btn-color: #383838; 
$search-btn-font: #979797; 
$nav-time-font-hover-color: #383838;
$card-button-font-color: #7848b5;
$btn-hover-font-color: #FBFCFC;

// colors
$black: #383838;
$light-turq: #BEECE9;
$turq: #4ECDC4;
$gray: #979797;
$light-gray: #ECF0F1;
$white: #FBFCFC;

// fonts
$header-font: 'Poiret One', cursive;
$main-font: 'Open Sans', sans-serif;