@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');

// background colors
$main-bg: #ECF0F1;

// font colors
$default-font-color: #383838;
$headerlink-hover-color: #BEECE9;

// colors
$black: #383838;
$light-turq: #BEECE9;
$turq: #4ECDC4;
$gray: #979797;

// fonts
$header-font: 'Poiret One', cursive;
$main-font: 'Open Sans', sans-serif;