@import "../../variables.scss";

.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  background-image: url('../../assets/banner-lights-2.jpg');
  background-color: $black;
  background-position: 0 -150px;
  padding: 45px 0;
}