@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One");
.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  background-image: url("../../assets/banner-lights.jpg");
  background-position: 0 -150px;
  padding: 45px 0; }
