@import "../../variables.scss";

.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 285px;
  background-image: url('../../assets/city-bg.jpg');
  background-position: 0 -150px;
  padding: 60px 0;
}